.account-section {
    min-height: calc(100vh - 59.5px - 151.133px);
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    // border: 1px solid red;

    .settings-page {
        width: 100%;
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 1em 0;

        .settings-information-container {
            width: 80%;
            // background-color: azure;
            padding: 2.5em .5em;

            .information-title-text {
                font-family: sans-serif;
                padding-bottom: .5em;
            }

            .information-container {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
                border: 1px solid black;
                padding: 3em;
                gap: 3em;
                background-color: #00b4d8;
                width: 100%;

                div {
                    // background-color: pink;
                    width: 20em;
                    
                    p {
                        font-family: sans-serif;
                        padding-bottom: .5em;
                    }

                    input {
                        font-family: sans-serif;
                        padding: .3em;
                        width: 100%;
                        // border-radius: .3em;
                        border: 1px solid black;
                    }
                }
            }
        }

        .settings-address-container {
            width: 80%;
            // background-color: azure;
            padding: 2.5em .5em;

            .address-title-text {
                font-family: sans-serif;
                padding-bottom: .5em;
            }

            .address-container {
                display: flex;
                // flex-wrap: wrap;
                justify-content: center;
                flex-direction: column;
                // border: 1px solid black;
                // padding-left: 2em;
                // background-color: aquamarine;
                width: 100%;

                div {
                    // background-color: pink;
                    // width: 20em;
                    width: 100%;
                    
                    p {
                        font-family: sans-serif;
                        padding: 1.7em 0 .6em 0;
                    }

                    input {
                        font-family: sans-serif;
                        padding: .3em;
                        width: 100%;
                        // border-radius: .3em;
                        border: 1px solid black;
                    }
                }
            }
        }

        button {
            background-color: white;
            width: 8.5em;
            border: 1px solid black;
            border-radius: .3em;
            padding: .2em;
            font-family: sans-serif;
            transition: .1s all linear;
        }

        button:hover {
            background-color: #69c9ff;
            color: white;
            border: 1px solid #69c9ff;
        }
    }
}