.checkout-container {
    min-height: calc(100vh - 59.5px - 151.133px);
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    // border: 1px solid red;
    // background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .cart-items-container {
        // background-color: aqua;
        width: 70%;
        font-family: sans-serif;
        padding: 0 .3em;

        .cart-items-title {
            padding: 1em 0;
        }

        .cart-items-container {
            border: 1px solid black;
            width: 100%;
            padding: 1em 0;
            
            .cart-items {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: .5em .3em;

                i {
                    padding: 0 .6em;
                    transition: .1s linear all;
                }
                
                i:hover {
                    color: red;
                }
            }
        }

        .total-price-container {
            padding: 2em 0;
        }
    }

    .paypal {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;

        button {
            font-size: 1.2em;
            padding: .2em 5em;
            border-radius: 3px;
            border: 1px solid rgb(133, 133, 133);
            background-color: #FCBB32;
            transition: .1s all linear;
            cursor: pointer;
        }

        button:hover {
            color: white;
        }
    }

    .paypal-container {
        background-color: #00b4d8;
        border: 1px solid black;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        height: auto;
        // border: 1px solid #00b4d8;
    }
}