.homepage-banner-image-container {
  width: 1150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
}
.homepage-banner-image-container .banner-catergories {
  background-color: #00b4d8;
  width: 20%;
  height: 466px;
  width: 270px;
}
.homepage-banner-image-container .banner-catergories table {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  height: 100%;
  table-layout: fixed;
  font-family: sans-serif;
}
.homepage-banner-image-container .banner-catergories table tr:first-child {
  border: none;
}
.homepage-banner-image-container .banner-catergories table tr {
  width: 100%;
  height: 100%;
  border-top: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-banner-image-container .banner-catergories table tr td {
  width: 100%;
  color: white;
  margin-left: 0.8em;
}
.homepage-banner-image-container .banner-image-container {
  width: 570px;
  height: 466px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage-banner-image-container .banner-image-container .banner-image-tint {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  position: absolute;
}
.homepage-banner-image-container .banner-image-container .homepage-banner-image {
  position: absolute;
  margin: 0 auto;
  width: 130%;
}
.homepage-banner-image-container .banner-image-container h2,
.homepage-banner-image-container .banner-image-container h3,
.homepage-banner-image-container .banner-image-container button {
  z-index: 2;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.homepage-banner-image-container .banner-image-container h2 {
  left: 100px;
  top: 80px;
  background-color: #8d9f0d;
  padding: 0.2em;
  margin-bottom: 0.7em;
  margin-right: 6em;
  transform: translateX(-50%) skew(-10deg);
}
.homepage-banner-image-container .banner-image-container .banner-sale-subtext {
  font-size: 2em;
  width: 350px;
  background-color: #00b4d8;
  font-size: 1.7em;
  padding: 0.1em;
  margin-right: 2em;
  transform: skew(-10deg);
}
.homepage-banner-image-container .banner-image-container .banner-sale-subtext-2 {
  width: 350px;
  font-size: 1.7em;
  margin-left: 2em;
  padding: 0.1em;
  background-color: #00b4d8;
  transform: skew(-10deg);
}
.homepage-banner-image-container .banner-image-container button {
  font-weight: 600;
  padding: 0.2em 3em;
  font-size: 1em;
  margin-left: 6em;
  margin-top: 0.7em;
  border: none;
  background-color: #8d9f0d;
  cursor: pointer;
  transition: 0.1s all linear;
}
.homepage-banner-image-container .banner-image-container button:hover {
  background-color: #00b4d8;
}
.homepage-banner-image-container .banner-suggestion-container {
  width: 20%;
  height: 466px;
  width: 270px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.homepage-banner-image-container .banner-suggestion-container div {
  background-color: #00b4d8;
  height: 46%;
  width: 100%;
}
.homepage-banner-image-container .banner-suggestion-container img {
  height: 140px;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-1 {
  position: relative;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-1 .shop-suggestion-container {
  padding: 0.2em;
  position: absolute;
  width: 120px;
  height: 100px;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: none;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-1 .shop-suggestion-container h2 {
  font-size: 1.3em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-1 .shop-suggestion-container button {
  border: 1px solid #010937;
  padding: 0.1em 0.2em;
  color: white;
  background-color: #010937;
  font-style: italic;
  transition: 0.1s all linear;
  cursor: pointer;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-1 .shop-suggestion-container button:hover {
  background-color: white;
  color: #010937;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 {
  position: relative;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 .shop-suggestion-container {
  padding: 0.2em;
  position: absolute;
  width: 120px;
  height: 100px;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  border: none;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 .shop-suggestion-container h2 {
  font-size: 1.3em;
  font-family: "Kanit", sans-serif;
  font-weight: 400;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 .shop-suggestion-container button {
  border: 1px solid #010937;
  padding: 0.1em 0.2em;
  color: white;
  background-color: #010937;
  font-style: italic;
  transition: 0.1sall linear;
  cursor: pointer;
}
.homepage-banner-image-container .banner-suggestion-container .suggestion-container-2 .shop-suggestion-container button:hover {
  background-color: white;
  color: #010937;
}

.homepage-sale-banner-container {
  width: 100%;
  height: 500px;
  background-color: #00b4d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-sale-banner-container .sale-banner {
  height: 400px;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 {
  width: 33%;
  height: 100%;
  background-color: #ffffff;
  position: relative;
  overflow: hidden;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 .sales-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  height: 300px;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 .sales-text-container .sale-title {
  font-size: 0.9em;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 .sales-text-container .sale-text {
  font-size: 2em;
  padding: 0.8em 0;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 .sales-text-container .sale-button {
  padding: 0.3em 1.5em;
  border: 1px solid #010937;
  background-color: #00b4d8;
  color: white;
  cursor: pointer;
  transition: 0.1s all linear;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 .sales-text-container .sale-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #00b4d8;
}
.homepage-sale-banner-container .sale-banner .sale-container-1 img {
  height: 220px;
  transform: scaleY(-1);
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 {
  width: 63%;
  height: 100%;
  background-color: aliceblue;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 h3,
.homepage-sale-banner-container .sale-banner .sale-container-2 button {
  z-index: 2;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 .banner-sale-subtext {
  font-size: 2em;
  background-color: #00b4d8;
  font-size: 1.7em;
  padding: 0.1em 0.5em;
  transform: skew(-10deg);
}
.homepage-sale-banner-container .sale-banner .sale-container-2 .banner-sale-subtext-2 {
  font-size: 1.7em;
  margin-left: 2em;
  padding: 0.1em 0.5em;
  background-color: #00b4d8;
  transform: skew(-10deg);
}
.homepage-sale-banner-container .sale-banner .sale-container-2 button {
  font-weight: 600;
  padding: 0.2em 3em;
  font-size: 1em;
  margin-top: 1.5em;
  border: none;
  background-color: #8d9f0d;
  cursor: pointer;
  transition: 0.1s all linear;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 button:hover {
  background-color: #00b4d8;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 .image-tint {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
}
.homepage-sale-banner-container .sale-banner .sale-container-2 img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  width: 120%;
  transform: scaleX(-1);
}

.homepage-container {
  min-height: calc(100vh - 59.5px - 151.133px);
  width: 100%;
  margin: 0 auto;
}
.homepage-container .hot-items-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.homepage-container .hot-items-container .hot-items-title {
  font-family: sans-serif;
  font-size: 2.1em;
  font-style: italic;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding-top: 1.5em;
}
.homepage-container .hot-items-container .items-container {
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1em 3em;
}
.homepage-container .hot-items-container .items-container .rods-results {
  height: auto;
  width: 240px;
  height: 400px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
}
.homepage-container .hot-items-container .items-container .rods-results a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-container .hot-items-container .items-container .rods-results img {
  left: -70px;
  height: 180px;
}
.homepage-container .hot-items-container .items-container .rods-results .results-info-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  height: 100px;
}
.homepage-container .hot-items-container .items-container .rods-results .rod-result-name {
  text-align: center;
  width: 100%;
  z-index: 1;
}
.homepage-container .hot-items-container .items-container .rods-results .rod-result-price {
  width: 100%;
  text-align: center;
}
.homepage-container .hot-items-container .items-container .rods-results .result-button-container {
  background-color: #00b4d8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage-container .hot-items-container .items-container .rods-results .result-button-container i {
  color: white;
  text-align: center;
  padding: 0.2em 0.5em;
}
.homepage-container .hot-items-container .items-container .rods-results .result-button-container button {
  border: none;
  background-color: #010937;
  padding: 0.21em 1em;
  color: white;
}
.homepage-container .hot-items-container .shop-all-button-container {
  padding: 3em 0;
}
.homepage-container .hot-items-container .shop-all-button-container .shop-all-button {
  font-size: 1.2em;
  padding: 0.2em 1em;
  border: 1px solid #010937;
  background-color: #00b4d8;
  color: white;
  cursor: pointer;
  transition: 0.1s all linear;
}
.homepage-container .hot-items-container .shop-all-button-container .shop-all-button:hover {
  background-color: white;
  color: black;
  border: 1px solid #00b4d8;
}
.homepage-container .tips-and-tricks-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2em 0;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks-title {
  font-family: sans-serif;
  font-size: 2.1em;
  font-style: italic;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  padding-bottom: 1.5em;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5em;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks .tips-and-tricks-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 300px;
  font-family: sans-serif;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks .tips-and-tricks-containers .tips-and-tricks-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks .tips-and-tricks-containers .tips-and-tricks-image-container .tips-and-tricks-image {
  width: 100%;
  height: 100%;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks .tips-and-tricks-containers .tips-and-tricks-text {
  padding: 1em 0;
  text-align: center;
}
.homepage-container .tips-and-tricks-container .tips-and-tricks .tips-and-tricks-containers .tips-and-tricks-description {
  text-align: justify;
  padding: 0.4em;
  height: 138.8px;
}

@media (max-width: 1160px) {
  .homepage-banner-image-container {
    flex-direction: column;
    max-width: 100%;
  }
  .homepage-banner-image-container .banner-catergories {
    height: auto;
    width: auto;
  }
  .homepage-banner-image-container .banner-catergories table {
    flex-direction: row;
  }
  .homepage-banner-image-container .banner-catergories table tr {
    border-top: none;
  }
  .homepage-banner-image-container .banner-catergories table tr td {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    text-align: center;
  }
  .homepage-banner-image-container .banner-image-container {
    width: 865px;
    max-width: 100%;
    margin: 2em 0;
  }
  .homepage-banner-image-container .banner-suggestion-container {
    height: 220px;
    width: 865px;
    max-width: 100%;
    flex-direction: row;
    padding: 0 0.5em;
  }
  .homepage-banner-image-container .banner-suggestion-container div {
    height: 100%;
    width: 45%;
    border: 1px solid black;
  }
}
@media (max-width: 1020px) {
  .homepage-sale-banner-container .sale-banner .sale-container-2 img {
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 860px) {
  .homepage-banner-image-container {
    flex-direction: column;
    max-width: 100%;
  }
  .homepage-banner-image-container .banner-catergories {
    display: none;
  }
  .homepage-sale-banner-container {
    width: 100%;
    height: auto;
    padding: 1em 0;
  }
  .homepage-sale-banner-container .sale-banner {
    height: auto;
    flex-direction: column;
  }
  .homepage-sale-banner-container .sale-banner .sale-container-1 {
    height: 400px;
    width: 90%;
  }
  .homepage-sale-banner-container .sale-banner .sale-container-2 {
    height: 400px;
    width: 90%;
    margin-top: 2em;
  }
  .homepage-sale-banner-container .sale-banner .sale-container-2 img {
    position: absolute;
    right: 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 100%;
  }
}
@media (max-width: 540px) {
  .homepage-banner-image-container .banner-image-container {
    margin-top: 0;
  }
  .homepage-banner-image-container .banner-image-container .banner-sale-subtext {
    width: 310px;
    font-size: 1.5em;
    margin-left: 1em;
    padding: 0.1em;
  }
  .homepage-banner-image-container .banner-image-container .banner-sale-subtext-2 {
    width: 310px;
    font-size: 1.5em;
    margin-left: 1em;
    padding: 0.1em;
  }
  .homepage-banner-image-container .banner-image-container .homepage-banner-image {
    margin: 0 auto;
    width: auto;
    height: 100%;
  }
  .sale-container-2 .banner-sale-subtext {
    width: 320px;
    font-size: 1.5em !important;
    margin: 0 auto;
    padding: 0.1em;
  }
  .sale-container-2 .banner-sale-subtext-2 {
    width: auto;
    font-size: 1.4em !important;
    padding: 0.1em;
  }
  .sale-container-2 button {
    font-weight: 600;
    padding: 0.2em 3em;
    font-size: 1em;
    margin-left: 0 !important;
    margin-top: 1em !important;
    border: none;
    background-color: #8d9f0d;
    cursor: pointer;
    transition: 0.1s all linear;
  }
}
@media (max-width: 370px) {
  .tips-and-tricks-title {
    text-align: center !important;
  }
  .tips-and-tricks-description {
    text-align: justify !important;
    -moz-text-align-last: center !important;
         text-align-last: center !important;
  }
}/*# sourceMappingURL=homepage.css.map */