.homepage-banner-image-container {
    // height: 400px;
    // overflow: hidden;
    // position: relative;
    width: 1150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5em;

    .banner-catergories {
        background-color: #00b4d8;
        width: 20%;
        height: 466px;
        width: 270px;

        table {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            flex-direction: column;
            height: 100%;
            // padding: .7em;
            border: black 1px solid;
            table-layout: fixed;
            font-family: sans-serif;

            tr:first-child {
                border: none;
            }

            tr {
                // background-color: aliceblue;
                width: 100%;
                height: 100%;
                border-top: 1px solid black;
                display: flex;
                justify-content: center;
                align-items: center;

                td {
                    // margin: auto ;
                    // height: 30px;
                    width: 100%;
                    // text-align: left;
                    color: white;
                    margin-left: .8em;
                    // justify-self: flex-start;
                }
            }
        }
    }

    .banner-image-container {
        // background-color: pink;
        width: 570px;
        height: 466px;
        overflow: hidden;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .banner-image-tint {
            background-color: rgba(0, 0, 0, 0.5);
            height: 100%;
            width: 100%;
            position: absolute;
        }

        .homepage-banner-image {
            // width: 90%;
            // height: auto;
            position: absolute;
            margin: 0 auto;
            width: 130%;
            // border: 1px solid black;
        }

        h2,
        h3,
        button {
            // position: absolute;
            z-index: 2;
            color: white;
            font-family: sans-serif;
            text-align: center;
        }

        h2 {
            left: 100px;
            top: 80px;
            background-color: #8d9f0d;
            padding: .2em;
            margin-bottom: .7em;
            margin-right: 6em;
        }

        .banner-sale-subtext {
            font-size: 2em;
            width: 350px;
            background-color: #00b4d8;
            font-size: 1.7em;
            padding: .1em;
            margin-right: 2em;
        }

        .banner-sale-subtext-2 {
            width: 350px;
            font-size: 1.7em;
            // color: red;
            margin-left: 2em;
            padding: .1em;
            background-color: #00b4d8;
        }

        button {
            font-weight: 600;
            padding: .2em 3em;
            font-size: 1em;
            margin-left: 6em;
            margin-top: .7em;
            border: none;
            background-color: #8d9f0d;
            cursor: pointer;
            transition: .1s all linear;
        }

        button:hover {
            background-color: #00b4d8;
        }
    }


    .banner-suggestion-container {
        // background-color: #00b4d8;
        width: 20%;
        height: 466px;
        width: 270px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        div {
            background-color: #00b4d8;
            height: 46%;
            width: 100%;
            border: 1px solid black;
        }

        img {
            height: 140px;
        }

        .suggestion-container-1 {
            position: relative;

            .shop-suggestion-container {
                // background-color: pink;
                padding: .2em;
                position: absolute;
                width: 120px;
                height: 100px;
                bottom: 0;
                right: 0;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                border: none;

                h2 {
                    font-size: 1.3em;
                    font-family: "Kanit", sans-serif;
                    font-weight: 400;
                }

                button {
                    border: 1px solid #010937;
                    padding: .1em .2em;
                    color: white;
                    background-color: #010937;
                    font-style: italic;
                    transition: .1s all linear;
                    cursor: pointer;
                }

                button:hover {
                    background-color: white;
                    color: #010937;
                }
            }
        }

        .suggestion-container-2 {
            position: relative;

            img {
                position: absolute;
                bottom: 0;
                right: 0;
            }

            .shop-suggestion-container {
                // background-color: pink;
                padding: .2em;
                position: absolute;
                width: 120px;
                height: 100px;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-around;
                align-items: flex-start;
                flex-direction: column;
                border: none;

                h2 {
                    font-size: 1.3em;
                    font-family: "Kanit", sans-serif;
                    font-weight: 400;
                }

                button {
                    border: 1px solid #010937;
                    padding: .1em .2em;
                    color: white;
                    background-color: #010937;
                    font-style: italic;
                    transition: .1s +all linear;
                    cursor: pointer;
                }

                button:hover {
                    background-color: white;
                    color: #010937;
                }
            }
        }
    }
}

.homepage-sale-banner-container {
    width: 100%;
    height: 500px;
    background-color: #00b4d8;
    display: flex;
    justify-content: center;
    align-items: center;

    .sale-banner {
        // background-color: pink;
        height: 400px;
        width: 1100px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sale-container-1 {
            width: 33%;
            height: 100%;
            background-color: #ffffff;
            position: relative;
            overflow: hidden;

            .sales-text-container {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                font-family: sans-serif;
                height: 300px;

                .sale-title {
                    font-size: .9em;
                }

                .sale-text {
                    font-size: 2em;
                    padding: .8em 0;
                }

                .sale-button {
                    padding: .3em 1.5em;
                    border: 1px solid #010937;
                    background-color: #00b4d8;
                    color: white;
                    cursor: pointer;
                    transition: .1s all linear;
                }

                .sale-button:hover {
                    background-color: white;
                    color: black;
                    border: 1px solid #00b4d8;
                }
            }

            img {
                height: 220px;
                transform: scaleY(-1);
                position: absolute;
                bottom: -60px;
                left: 0;
                right: 0;
                margin-left: auto;
                margin-right: auto;
            }
        }

        .sale-container-2 {
            width: 63%;
            height: 100%;
            background-color: aliceblue;
            overflow: hidden;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h3,
            button {
                // position: absolute;
                z-index: 2;
                color: white;
                font-family: sans-serif;
                text-align: center;
            }

            .banner-sale-subtext {
                font-size: 2em;
                // width: 350px;
                background-color: #00b4d8;
                font-size: 1.7em;
                padding: .1em .5em;
                // margin-right: 2em;
            }

            .banner-sale-subtext-2 {
                // width: 350px;
                font-size: 1.7em;
                // color: red;
                margin-left: 2em;
                padding: .1em .5em;
                background-color: #00b4d8;
            }

            button {
                font-weight: 600;
                padding: .2em 3em;
                font-size: 1em;
                // margin-left: 6em;
                margin-top: 1.5em;
                border: none;
                background-color: #8d9f0d;
                cursor: pointer;
                transition: .1s all linear;
            }

            button:hover {
                background-color: #00b4d8;
            }

            .image-tint {
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.5);
                // z-index: -1;
                position: absolute;
            }

            img {
                position: absolute;
                object-fit: cover;
                width: 120%;
                transform: scaleX(-1);
                // z-index: 1;
            }
        }
    }
}


.homepage-container {
    min-height: calc(100vh - 59.5px - 151.133px);
    width: 100%;
    margin: 0 auto;
    // border: 1px solid red;

    .hot-items-container {
        // background-color: aqua;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .hot-items-title {
            font-family: sans-serif;
            font-size: 2.1em;
            font-style: italic;
            font-family: "Kanit", sans-serif;
            font-weight: 500;
            padding-top: 1.5em;
        }

        .items-container {
            padding: 3em 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1em 3em;
            // background-color: pink;

            .rods-results {
                // border: 1px solid blue;
                height: auto;
                width: 240px;
                height: 400px;
                overflow: hidden;
                position: relative;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                font-family: sans-serif;
                // border: 1px solid black;
                // color: white;

                a {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                img {
                    // position: absolute;
                    left: -70px;
                    height: 180px;
                }

                .results-info-container {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    flex-direction: column;
                    height: 100px;
                    // background-color: #8d9f0d;
                }

                .rod-result-name {
                    text-align: center;
                    // padding: .7em 0;
                    // height: 60px;
                    width: 100%;
                    // border-top: 1px solid black;
                    // background-color: #00b4d8;
                    z-index: 1;
                }

                .rod-result-price {
                    // padding: .8em 0;
                    // background-color: #00b4d8;
                    width: 100%;
                    text-align: center;
                    // color: white;
                }

                .result-button-container {
                    background-color: #00b4d8;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // padding: .3em .5em;

                    i {
                        color: white;
                        text-align: center;
                        padding: .2em .5em;
                    }

                    button {
                        border: none;
                        // margin-left: 1em;
                        background-color: #010937;
                        padding: .21em 1em;
                        color: white;
                    }
                }
            }
        }

        .shop-all-button-container {
            // background-color: red;
            padding: 3em 0;

            .shop-all-button {
                font-size: 1.2em;
                padding: .2em 1em;
                border: 1px solid #010937;
                background-color: #00b4d8;
                color: white;
                cursor: pointer;
                transition: .1s all linear;
            }

            .shop-all-button:hover {
                background-color: white;
                color: black;
                border: 1px solid #00b4d8;
            }
        }
    }

    .tips-and-tricks-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2em 0;

        .tips-and-tricks-title {
            font-family: sans-serif;
            font-size: 2.1em;
            font-style: italic;
            font-family: "Kanit", sans-serif;
            font-weight: 500;
            padding-bottom: 1.5em;
        }

        .tips-and-tricks {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 5em;

            .tips-and-tricks-containers {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: 300px;
                // background-color: aqua;
                font-family: sans-serif;

                .tips-and-tricks-image-container {
                    position: relative;
                    overflow: hidden;
                    width: 100%;

                    .tips-and-tricks-image {
                        width: 100%;
                        height: 100%;
                    }
                }

                .tips-and-tricks-text {
                    padding: 1em 0;
                    text-align: center;
                }

                .tips-and-tricks-description {
                    text-align: justify;
                    padding: .4em;
                    height: 138.8px;
                }

            }
        }

    }
}

@media (max-width: 1160px) {
    .homepage-banner-image-container {
        flex-direction: column;
        max-width: 100%;

        .banner-catergories {
            height: auto;
            width: auto;

            table {
                flex-direction: row;


                tr {
                    border-top: none;

                    td {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 38px;
                        text-align: center;
                    }
                }
            }
        }

        .banner-image-container {
            width: 865px;
            max-width: 100%;
            margin: 2em 0;
            // border: 1px solid red;
        }


        .banner-suggestion-container {
            height: 220px;
            width: 865px;
            max-width: 100%;
            flex-direction: row;
            padding: 0 .5em;

            div {
                height: 100%;
                width: 45%;
                border: 1px solid black;
            }
        }
    }
}

@media(max-width: 1020px) {
    .homepage-sale-banner-container {

        .sale-banner {

            .sale-container-2 {

                img {
                    object-fit: cover;
                }
            }
        }
    }
}

@media (max-width: 860px) {
    .homepage-banner-image-container {
        flex-direction: column;
        max-width: 100%;

        .banner-catergories {
            display: none;
        }
    }

    // .sale-container-2 {

    //     img {
    //         height: 100% !important;
    //         width: auto !important;
    //     }
    // }

    .homepage-sale-banner-container {
        width: 100%;
        height: auto;
        padding: 1em 0;

        .sale-banner {
            // background-color: pink;
            height: auto;
            flex-direction: column;

            .sale-container-1 {
                height: 400px;
                width: 90%;
            }

            .sale-container-2 {
                height: 400px;
                width: 90%;
                margin-top: 2em;

                img {
                    // height: 100%;
                    // width: auto;
                    position: absolute;
                    right: 0;
                    object-fit: cover;
                    // width: auto;
                    height: 100%;
                }
            }
        }
    }
}

@media(max-width: 715px) {
    // .homepage-sale-banner-container {
    //     width: 100%;
    //     height: auto;
    //     padding: 1em 0;

    //     .sale-banner {
    //         // background-color: pink;
    //         height: auto;
    //         flex-direction: column;

    //         .sale-container-1 {
    //             height: 400px;
    //             width: 90%;
    //         }

    //         .sale-container-2 {
    //             height: 400px;
    //             width: 90%;
    //             margin-top: 2em;

    //             img {
    //                 // height: 100%;
    //                 // width: auto;
    //                 position: absolute;
    //                 right: 0;
    //                 object-fit: cover;
    //                 width: auto;
    //                 height: 100%;
    //             }
    //         }
    //     }
    // }
}

@media (max-width: 540px) {
    .homepage-banner-image-container {


        .banner-image-container {
            margin-top: 0;

            .banner-sale-subtext {
                width: 310px;
                font-size: 1.5em;
                margin-left: 1em;
                padding: .1em;
            }

            .banner-sale-subtext-2 {
                width: 310px;
                font-size: 1.5em;
                margin-left: 1em;
                padding: .1em;
            }

            .homepage-banner-image {
                margin: 0 auto;
                width: auto;
                height: 100%;
            }
        }
    }

    .sale-container-2 {

        .banner-sale-subtext {
            width: 320px;
            font-size: 1.5em !important;
            margin: 0 auto;
            padding: .1em;
        }

        .banner-sale-subtext-2 {
            width: auto;
            font-size: 1.4em !important;
            // margin-left: 1em;
            padding: .1em;
        }

        button {
            font-weight: 600;
            padding: .2em 3em;
            font-size: 1em;
            margin-left: 0 !important;
            margin-top: 1em !important;
            border: none;
            background-color: #8d9f0d;
            cursor: pointer;
            transition: .1s all linear;
        }
    }
}

@media(max-width: 370px) {
    .tips-and-tricks-title {
        text-align: center !important;
    }

    .tips-and-tricks-description {
        text-align: justify !important;
        text-align-last: center !important;
    }
}